<div class="row accordion visible-xs-block" {{bind-attr data-target="hiddenElementIdFmt"}} {{action "expando"}} data-toggle="collapse">
  <!-- <span {{bind-attr class="caretClass :fa :icon-small :pull-right"}}></span> -->
  <h2 class="accordion--title">{{tabLabelLocalized}}</h2>
</div>
<div {{bind-attr id="hiddenElementId"}} class="accordion collapse">
	<div class="accordion--text visible-xs-block">
		<p>{{locText}}</p>
	</div>
</div>

{{!-- on non-phones dont do the expando thing, just display --}}
<div class="row">
	<div class="hidden-xs col-sm-7" style="margin-bottom: 20px;">
		<h2>{{tabLabelLocalized}}</h2>
		<p>{{locText}}</p>
	</div>
</div>
