<div class="row results--row">
	<div class="col-xs-10 col-sm-7 results--row--title">{{title}}</div>
	<div class="col-xs-2 col-sm-1 pull-right"><a>{{t "loc.edit"}}</a></div>

	<div class="hidden-xs col-sm-2">
		{{#if card.selectedAmount}}${{card.selectedAmount}}{{/if}}
	</div>	
	<div class="col-sm-2">${{card.baseAmount}}</div>	

	<!-- {{#unless responseWasSubmitted}}
		<div class="col-xs-2 col-sm-1">{{t "loc.edit"}}</div>
	{{/unless}} -->
</div>

<div class="col-xs-12 visible-xs-block">
	<div {{bind-attr class="currentPayText:col-xs-7:col-xs-12"}}><span {{bind-attr class=""}}></span>{{selectionText}}</div>
	{{#if currentPayText}}
		<div class="col-xs-5">{{currentPayText}}</div>
	{{/if}}
</div>