<main class="container biab-container">
	<div class="row">
		<h1 class="col-xs-12">{{t "loc.resultsHeader"}}</h1>
	</div>
	
	<!-- Desktop table header -->
	<div class="results">
		<div class="row hidden-xs">
			<div class="results--header">
				<div class="col-sm-7" style="margin-top: .5em">{{t "loc.category"}}</div>
				<div class="col-sm-2">{{t "loc.choiceHeader"}}</div>
				<div class="col-sm-2">{{t "loc.currentHeader"}}</div>
			</div>
		</div><!-- end Desktop table header -->

		<!-- Results -->
		{{#each card in allCards}}
			{{#if card.showResults}}
				{{results-tab card=card action="jumpToCard" responseWasSubmitted=responseWasSubmitted}}
			{{/if}}
		{{/each}}

		<div class="row clearfix">
			<div class="results--footer">
				<div class="col-sm-7 hidden-xs">{{t "loc.totals"}}</div>
				<div class="col-xs-6 col-sm-2"><span class="visible-xs-inline">{{estimatedTotalText}}<br></span>${{estimatedTotal}}</div>
				<div class="col-xs-6 col-sm-2"><span class="visible-xs-inline">{{currentPayText}}<br></span>${{currentPay}}</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-sm-5">
				<button {{bind-attr class=":btn"}} {{action "postUserResponse"}}>
					{{#unless responseWasSubmitted}}{{t "loc.submit"}}{{else}}{{t "loc.next"}}{{/unless}}
				</button>
			</div>
		</div>
	
</main>