<div class="container">
	<h3 class="col-xs-12 align-objects">{{model.displayedCard.cardTitle}}</h3>
	{{expando-tab tabLabel="loc.whatServices" textContents=model.displayedCard.servicesTextString}}
	{{expando-tab tabLabel="loc.servicesProvided" textContents=model.displayedCard.providedTextString}}

	<div class="col-xs-12 align-objects">		
		<div {{bind-attr class=":user-option model.displayedCard.didSelectRaise:text-success"}}{{action "makeSelection" 1}}>
			<span class="option-text-small">{{t "loc.raiseFunding"}}</span><br>
			<span class="option-text-large">{{model.displayedCard.raisePrompt}}</span>
		</div>
		
		<div {{bind-attr class=":user-option model.displayedCard.didSelectKeep:text-warning"}}{{action "makeSelection" 0}}>
			<span class="option-text-small">{{t "loc.keepFunding"}}</span><br>
			<span class="option-text-large">{{model.displayedCard.keepPrompt}}</span>
		</div>
				
		<div {{bind-attr class=":user-option model.displayedCard.didSelectCut:text-danger"}}{{action "makeSelection" -1}}>
			<span class="option-text-small">{{t "loc.cutFunding"}}</span><br>
			<span class="option-text-large">{{model.displayedCard.cutPrompt}}</span>
		</div>
	</div>

	<div class="col-xs-12 align-objects">
		<button class="btn btn-default" {{action "previous"}}>{{t "loc.back"}}</button>
	</div>

	<div class="app-footer col-xs-12">
	    {{footerString}}
	</div>

</div>

