<div class="sticky--wrapper">
	<main class="container biab-container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{{card.cardTitle}}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-7">
				{{expando-tab tabLabel="loc.whatServices" textContents="textBlockOne" cardId=card.id}}
				{{expando-tab tabLabel="loc.servicesProvided" textContents="textBlockTwo" cardId=card.id}}
			</div>

			<div class="col-xs-12 col-sm-5">		
				<div {{bind-attr class=":btn :btn-vote :btn-vote__raise card.didSelectRaise:selected"}}{{action "makeSelection" "raise"}}>
					<span class="btn-vote--small">{{t "loc.raiseFunding"}}</span><br>
					<span class="btn-vote--large">{{card.raisePrompt}}</span>
				</div>
				
				<div {{bind-attr class=":btn :btn-vote :btn-vote__keep card.didSelectKeep:selected"}}{{action "makeSelection" "keep"}}>
					<span class="btn-vote--small">{{t "loc.keepFunding"}}</span><br>
					<span class="btn-vote--large">{{card.keepPrompt}}</span>
				</div>
						
				<div {{bind-attr class=":btn :btn-vote :btn-vote__cut card.didSelectCut:selected"}}{{action "makeSelection" "cut"}}>
					<span class="btn-vote--small">{{t "loc.cutFunding"}}</span><br>
					<span class="btn-vote--large">{{card.cutPrompt}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<button class="btn" {{action "previous"}}>{{t "loc.back"}}</button>
			</div>
		</div>
	</main>
</div>
<div class="push">&nbsp;</div>
<footer class="container-fluid">
	<div class="biab-container">
		<div class="app-footer col-xs-12">
		    {{footerString}}
		</div>
	</div>
</footer>
