<div class="container">
	<div class="col-xs-12">
		<h1 class="col-xs-12" style="padding-left: 0;">{{card.cardTitle}}</h1>

		<div class="row">
			<div class="col-xs-12 col-sm-7 no-gutter-phone">
				{{expando-tab tabLabel="loc.whatServices" textContents="textBlockOne" cardId=card.id}}
				{{expando-tab tabLabel="loc.servicesProvided" textContents="textBlockTwo" cardId=card.id}}
			</div>

			<div class="col-xs-12 col-sm-5">		
				<div {{bind-attr class=":user-option :raise card.didSelectRaise:selected"}}{{action "makeSelection" "raise"}}>
					<div class="fa fa-long-arrow-up icon-large"></div>
					<span class="option-text-small">{{t "loc.raiseFunding"}}</span><br>
					<span class="option-text-large">{{card.raisePrompt}}</span>
				</div>
				
				<div {{bind-attr class=":user-option :keep card.didSelectKeep:selected"}}{{action "makeSelection" "keep"}}>
					<div class="fa fa-long-arrow-right icon-large" style="margin:8px 7px 0 3px;"></div>
					<span class="option-text-small">{{t "loc.keepFunding"}}</span><br>
					<span class="option-text-large">{{card.keepPrompt}}</span>
				</div>
						
				<div {{bind-attr class=":user-option :cut card.didSelectCut:selected"}}{{action "makeSelection" "cut"}}>
					<div class="fa fa-long-arrow-down icon-large"></div>
					<span class="option-text-small">{{t "loc.cutFunding"}}</span><br>
					<span class="option-text-large">{{card.cutPrompt}}</span>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-7 pull-left">
			<button class="btn btn-default" {{action "previous"}}><span class="fa fa-long-arrow-left icon-small"></span>{{t "loc.back"}}</button>
		</div>
	</div>
	<div class="app-footer col-xs-12">
	    {{footerString}}
	</div>
</div>

