<div class="container">
	<h3 class="col-xs-12 align-objects">{{t "loc.resultsHeader"}}</h3>
	{{#each card in model.allCards}}
		{{#if card.showResults}}
			{{results-tab card=card action="jumpToCard"}}
		{{/if}}
	{{/each}}
	<div class="total-display col-xs-12 align-objects">{{estimatedTotalText}}</div>
	<div class="col-xs-12 align-objects">
		<button class="btn btn-primary" {{action "postUserResponse"}}>{{t "loc.submit"}}</button>
	</div>
</div>