<div class="container biab-container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="pull-left">{{t "cardTitle.welcome"}}</h1>
			<a {{action "changeLocale"}} href="#" class="pull-right">{{controllers.application.languageOption}}</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<p>{{t "textBlockOne.welcome"}}</p>
		</div>
		<div class="col-sm-5">
			<form>
				<div class="form-group" style="margin-top: 0;">
					<label for="zipCodeField">{{t "loc.zipCode"}} <sup>*</sup></label>			
					{{input class="form-control" type="text" maxlength=5 elementId="zipCodeField" value=userResponseModel.postalCode}}
					{{#liquid-if showZipValidation use="toDown"}}
						<div class="form-msg form-msg__warning">*{{t "loc.invalidZipCode"}}</div>
					{{/liquid-if}}
				</div>
				<div class="form-group">
					<div class="row">
					<div class="col-xs-7 col-sm-12">
						<label for="districtField">{{t "loc.districtLabel"}} <sup>*</sup></label>
					</div>
					<div class="col-xs-5 col-sm-12">
					<p><a {{bind-attr href=districtLinkout}} target="_blank">{{t "loc.findDistrict"}}</a></p>
					</div>
					</div>
					{{view "select" class="form-control" prompt=view.districtPrompt elementId="districtField" content=view.districtOptions optionValuePath="content.districtNum" optionLabelPath="content.districtName" value=userResponseModel.district}}
					{{#liquid-if showDistrictValidation use="toDown"}}
				
					<div class="form-msg form-msg__warning"><sup>*</sup>{{t "loc.invalidDistrict"}}</div>
					{{/liquid-if}}
			</div>
				<div class="form-group">
					<button class="btn" {{action "submitLandingPage"}}>{{t "loc.getStarted"}}</button>
				</div>
			</form>
		</div>
	</div>

</div>